.container {
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 426px) {
  .mob-menu-phone-link {
    font-size: 36px;
  }

  .mob-menu-soc-list {
    gap: 56px;
  }
}

@media screen and (min-width: 426px) {
  .modal {
    width: 392px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /* Header */

  .mob-open-btn {
    display: none;
  }

  .header-flex {
    padding-bottom: 20px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
    padding: 24px 0;
    transition-property: color;
    transition: color var(--tra-speed) var(--tra-function);
  }

  .header-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--link-hover-color);

    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transition: transform var(--tra-speed) var(--tra-function);
  }

  .header-link:hover,
  .header-link:focus,
  .header-link.current {
    color: var(--link-hover-color);
  }

  .header-link:hover::after,
  .header-link:focus::after,
  .header-link.current::after {
    transform: scaleX(1);
  }

  .header-link.current {
    color: var(--link-hover-color);
  }

  .header-address {
    font-style: normal;
    margin-left: auto;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--address-color);
    display: block;

    transition: color var(--tra-speed) var(--tra-function);
  }

  .address:hover,
  .address:focus {
    color: var(--address-hover-color);
  }

  /* Hero */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_img/hero-bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_img/hero-bg-tablet-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  /* Section 1 */

  .features-title {
    text-align: start;
  }

  .teamcards-list {
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  /* Section 3 */

  .teamcards > .container {
    max-width: 582px;
  }

  .teamcards-list {
    max-width: 100%;
    gap: 64px 24px;
  }

  .teamcards-item {
    width: calc((100% - 24px) / 2);
  }

  /* Section 4 */

  .costumers > .container {
    max-width: 582px;
  }

  .costumers-list {
    gap: 72px 24px;
  }

  .costumers-item {
    width: calc((100% - 24px) / 3);
    max-width: 168px;
    height: 88px;
  }

  .modal {
    width: 408px;
  }

  /* Footer */

  .footer-container {
    max-width: 582px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-container .footer-wrap,
  .footer-container .footer-soc {
    max-width: 50%;
  }

  .footer-wrap {
    flex-direction: column;
    align-items: baseline;
  }

  .footer-field {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-soc {
    align-items: flex-start;
    margin-left: 24px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .footer-btn {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* Header */

  .header-flex {
    padding-bottom: 24px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* Hero */

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_img/hero_bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_img/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
    text-align: center;
  }

  .hero-btn {
  }

  /* Section 1 */

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    display: flex;
  }

  .features-item {
    width: 264px;
    width: calc((100% - 72px) / 4);
  }

  .features-wrap {
    height: 112px;
    background-color: var(--features-icon-bgc);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .features-text {
    font-weight: inherit;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  /* Section 2 */

  .section {
    padding-bottom: 120px;
    display: block;
  }

  .section-list {
    display: flex;
    gap: 24px;
  }

  .section-item {
    border: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);
  }

  .section-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
  }

  /* Section 3 */

  .teamcards > .container {
    max-width: 1128px;
  }

  .teamcards {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .teamcards-list {
    max-width: 100%;
    gap: 24px;
  }

  .teamcards-item {
    width: calc((100% - 72px) / 4);
  }

  /* Section 4 */

  .costumers > .container {
    max-width: 1158px;
  }

  .costumers {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .costumers-list {
    gap: 24px;
  }

  .costumers-item {
    width: calc((100% - 120px) / 6);
    max-width: 168px;
    height: 88px;
  }

  /* Fotter */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container > div {
    max-width: calc(100% / 3);
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  .footer-text {
    margin: 0;
  }

  .footer-soc {
    margin-left: 120px;
    margin-right: 80px;
  }

  .footer-soc-list {
    margin: 0;
  }

  .footer-field {
    width: 100%;
  }

  .footer-form {
    max-width: 100%;
  }

  .footer-input {
    max-width: 264px;
    margin: 0;
  }
}
